<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nowcoder.dao.UserMapper">

    <select id="queryUserList" resultType="User" parameterType="String">
        select id,name,password from user
        <if test="name != null and name != ''">
            where name like ${name}
        </if>
    </select>

    <select id="queryComment" resultType="Comment" >
        select c.*,u.name userName,n.title newsName,u2.name newsAuthor from comment c,user u,News n,user u2
        <where>
        <if test="content != null and content != ''">
              and content like ${content}
        </if>
        and c.user_id=u.id and c.entity_id = n.id and n.user_id = u2.id
        </where>
    </select>


</mapper>